# Basic for loop

In [ ]:
animals = ['monkey', 'hippo', 'red panda', 'seal', 'horse', 'cat']

In [ ]:
for creature in animals:
    print(creature)

In [ ]:
for creature in animals:
    print(f"{creature.title()} is an animal on my list.")

# For loop with conditionals

In [ ]:
ages = [28, 19, 32, 30, 45, 52, 57, 45, 32, 33, 25, 22, 32]

In [ ]:
for age in ages:
    if age > 32:
        print(f"Person is {age} and is older than me.")
    elif age < 32:
        print(f"Person is {age} and is younger than me.")
    else:
        print(f"Person is {age} and is the same age as me.")

# Building a list

In [ ]:
younger = []

for age in ages:
    if age < 32:
        younger.append(age)

print(younger)
len(younger)

In [ ]:
older = [age for age in ages if age > 32]

print(older)
len(older)

In [ ]:
new_ages = []

for age in ages:
	if age > 20:
		new_ages.append(age)

print(new_ages)

# Identifying the most and least common items in a list

In [ ]:
ages_long = [28,55,30,19,32,30,45,52,57,45,32,33,25,22,32,32,30,45,52,57,45,30,28,19,45,45,45,30,28,32,33,33]

In [ ]:
from collections import Counter

In [ ]:
Counter(ages_long)

In [ ]:
ages_tally = Counter(ages_long)
ages_tally.most_common()

In [ ]:
ages_tally.most_common(3)

In [ ]:
ages_tally.most_common()[-2:]