# Introduction to pandas

## Importing pandas and loading the dataset

In [2]:
import pandas as pd

In [ ]:
#for Google Colab Notebooks users only
from google.colab import drive
drive.mount('/content/drive')
#when the dialog box pops up, allow google drive permission

In [12]:
# bellevue_df = pd.read_csv("/Users/diy/Library/CloudStorage/Dropbox/CUNY/07Year/Spring_Teaching/notebooks/bellevue_almshouse_modified.csv")
bellevue_df = pd.read_csv("../notebooks/bellevue_almshouse_modified.csv")
pd.options.display.max_rows = 20

## A glimpse of what the dataset is

In [10]:
bellevue_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9584 entries, 0 to 9583
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date_in     9584 non-null   object
 1   first_name  9580 non-null   object
 2   last_name   9584 non-null   object
 3   age         9534 non-null   float64
 4   disease     6497 non-null   object
 5   profession  8565 non-null   object
 6   gender      9584 non-null   object
 7   children    37 non-null     object
dtypes: float64(1), object(7)
memory usage: 599.1+ KB

In [11]:
bellevue_df.columns

Index(['date_in', 'first_name', 'last_name', 'age', 'disease', 'profession',
       'gender', 'children'],
      dtype='object')

## Viewing some rows of the data set

In [ ]:
bellevue_df.head(10)

In [ ]:
bellevue_df.sample(10)

## Getting the summary statistics of the dataset

In [ ]:
bellevue_df.describe()

In [ ]:
bellevue_df.describe(include='all')

## Checking for duplicates and removing them

In [ ]:
bellevue_df.duplicated(keep=False)
bellevue_df[bellevue_df.duplicated(keep=False)]

In [ ]:
bellevue_df = bellevue_df.drop_duplicates(keep='first')
bellevue_df[bellevue_df.duplicated(keep=False)]

## Changing the date_in column to the date-time datatype

In [ ]:
bellevue_int = bellevue_df['date_in']
bellevue_df['date_in'] = pd.to_datetime(bellevue_int, format='%Y-%m-%d')
bellevue_df.info()

## Selecting the columns in the data

In [ ]:
bellevue_df[['disease']]

In [ ]:
bellevue_df[['disease','profession','gender']]

## Renaming columns

In [ ]:
bellevue_df = bellevue_df.rename(columns={'date_in': 'admission'})
bellevue_df.columns

## Counting the frequency of a value

In [ ]:
bellevue_df['disease'].value_counts()

In [ ]:
bellevue_df['disease'].value_counts()[:10]

## Counting the number of NA are there in the column 'age'

In [ ]:
bellevue_df[bellevue_df[('age')].isna()]