# Activity 2: Python Primer on Lists, For Loops, and Functions

For this activity, we will be familiarizing ourselves with lists, for loops, and creating our own simple functions.

Please make sure you open this file in Jupyter Notebook or Google Colab. You will have to either open Jupyter Notebook first or upload the file to Google Colab before being able to edit the file. 

Please make sure you **print your output.** You may need to use ```print``` for your output to be displayed.

-----
## Submission Instructions
1. Upload the completed activity to the "Activities" folder of your GitHub Portfolio;
2. Ensure your submission consists of two files: <br/>(a) one single-page reflection in markdown (e.g. `a2_reflection.md`);  <br/>(b) one Jupyter notebook with completed responses to each activity step (e.g. `a2_primer.ipynb`).

1. Run the code in the cell below and explain why the error occured. Then, fix the error so that the code will run successfully.

In [69]:
names = [Mary Gallagher, John Sanin(?), Anthony Clark, Margaret Farrell]

print(names)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2496409887.py, line 1)

***Double click on this cell and explain your answer here.***

-----

## Lists and for loops

Use the lists below to solve the following exercise questions. Make sure you run this cell before you begin with the activity or you will run into errors.

In [8]:
professions = ['married', 'laborer', 'widow', 'widow', 'laborer' ]
gender = ['woman', 'man', 'woman', 'woman', 'man']
longlist_professions = ['married', 'married', 'laborer', 'laborer', 'widow', 'married', 'spinster',
                     'laborer', 'spinster', 'laborer', 'spinster', 'spinster', 'married', 'laborer',
                     'laborer', 'spinster', 'laborer', 'laborer', 'laborer', 'laborer', 'laborer', 'spinster',
                     'laborer', 'spinster', 'widow', 'spinster', 'painter', 'laborer', 'weaver', 'laborer']

2. Extract the second item in the list ```professions```.
    
   **Hint**: Python begins indexing from '0.' The first item, 'married,' is position [0].

3. Make a **for loop** that considers each item in the ```professions``` list and prints “Person’s profession is ___.”

In [ ]:
for <variable_name> in <list>:
    #your code here

4. Using a **list method**, add an item to the list ```gender``` called “not known”

5. Make a **for loop** that considers each item in the ```gender``` list and prints “Person identifies as a man” if the person is registered as a man, “Person identifies as a woman” if the person registered as a woman, and “Person’s gender is not known” if person's gender is unknown.

6. Build a **new list** called ```spinster_list``` that includes only the items in the list ```longlist_professions``` that matches ```spinster```.

   **Hint**: You will need to create an empty list variable before sorting the list with a for loop.

7. Find the most and least common professions in the list ```longlist_professions```.   
   Run the cell below to import the ```Counter``` module and use the appropriate method.

   **Hint**: You will need to create a variable for the results of the Counter function before running the method.   
   **Hint 2**: Check your spelling. Python is case-sensitive, and the function for Counter begins with a capital C.

In [64]:
from collections import Counter

8. Run the code below and explain why the error occurred. Then, fix the error so that the code can run as intended.
   
    **Hint**: There are 2 errors in the code below

In [31]:
for job in professions:
    if job == "laborer"
        print(job)
        else:
        print(f"Wow, women were limited to their marital status, such as {job}.")

SyntaxError: expected ':' (3016162.py, line 2)

***Double click on this cell and explain your answer here.***

-----

## Defining functions

9. Make a function called ```hello``` that greets the user with "Hello {person}! Have a good day ahead." Test your function to make sure it runs as intended.   

    **Hint**: You will need one parameter in the function.

In [ ]:
def hello(#your code here):
    #Your code here
    return

10. Make a function called ```sum_of_3``` that allows the user to add 3 numbers. Test your function to make sure it runs as intended.   
    *Level-up challenge*: Use a default argument to prevent code failing if the user has less than 3 input.

11. Make a function called ```fahrenheit_to_celsius``` that converts the temperature in fahrenheit to celsius. Call your function to test that it runs as intended.

    **Hint**: The formula for converting the temperature is (Temperature in Fahrenheit - 32) * 5/9.

-----

## Side quest challenge

The side quest challenge is for extra credit. You can still get full credit for this activity even if you do not complete this challenge.

1. Use **list comprehension** to build a new list for the most common profession in ```longlist_professions```.

In [ ]:
most_common = #your code here

2. Make a function called ```budget_expenses``` that calculates the estimated budget for a trip to NYC. You will need the following parameters:
- ```plane_ticket_price```
- ```hotel_rate_per_day```
- ```duration_of_trip```
- ```subway_per_trip = 2.90```

   After making your function, call the function with the following values: ```plane_ticket_price```: 450, ```hotel_rate_per_day```: 120, ```duration_of_trip```: 5.

  **Hint**: Remember to calculate the total price of your hotel stay and round-trip subway cost for the entire duration of the trip

-----

Some of the exercise questions are adapted from Melanie Walsh's *Introduction to Cultural Analytics & Python*.